# nodejs modules
/node_modules

# Output directory for builds.
/bin

# IDE configuration.
/.vscode

# Compiled stylesheets (use .scss for source).
*.css

# Runtime directory for tests.
/tests/user_data

# SFTP configuration.
sftp.conf