// This file defines the general structure of the application layout.

body {
	background: var(--background);
	color: var(--font-primary);
	overflow: hidden;
	font-family: 'Selawik', sans-serif;
}

#logo-background {
	z-index: -5;
	background: url(./images/logo.png) no-repeat center center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0.05;
}

#drop-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--background-trans);
	z-index: 500;
	font-size: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-shadow: black 0 0 20px;

	&::before {
		font-family: 'FontAwesome';
		content: '\f0c5';
		font-size: 100px;
		margin-bottom: 20px;
	}
}

#container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: grid;
	grid-template-rows: 53px 1fr 73px;

	#content {
		position: relative;
	}

	#header {
		border-bottom: 1px solid var(--border);
		background: var(--background-dark);
		z-index: 5;
		display: flex;

		#logo {
			display: flex;
			align-items: center;
			margin: 0 15px;
			background: url(./images/logo.png) no-repeat center left;
			font-size: 25px;
			font-weight: 700;
			padding: 0 0 3px 40px;
			background-size: 32px;
		}
	}
	
	#footer {
		border-top: 1px solid var(--border);
		background: var(--background-dark);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: var(--font-faded);
	}

	#header.shadowed {
		box-shadow: var(--widget-shadow);
	}
}

#changelog {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
	padding: 10px 20px 20px 20px;

	h1 {
		margin-bottom: 10px;
	}

	pre {
		border: 1px solid var(--border);
		background: var(--background-dark);
		font-size: 20px;
		padding: 20px;
		box-shadow: rgba(0, 0, 0, 0.45) 0 0 20px 0 inset;
		overflow: auto;
	}

	input {
		margin: 20px auto;
		width: 200px;
	}
}

#blender-info {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&-header {
		text-align: center;

		h1 {
			margin-bottom: 10px;
		}

		p {
			margin-bottom: 20px;
			width: 900px;
		}
	}

	&-buttons {
		display: flex;
		align-items: center;
		justify-content: center;

		input {
			margin: 0 10px;
		}
	}
}

#nav {
	display: flex;
	align-items: center;
	width: 100%;

	.option {
		margin-left: 10px;

		&:hover {
			cursor: pointer;
			color: var(--font-highlight);
		}
	}

	.option::before {
		font-family: 'FontAwesome';
		margin-right: 5px;
	}

	&-models::before {
		content: '\f1b2';
	}

	&-textures::before {
		content: '\f03e';
	}

	&-sounds::before {
		content: '\f001';
	}

	&-maps::before {
		content: '\f278';
	}

	&-videos::before {
		content: '\f008';
	}

	&-text::before {
		content: '\f0f6';
	}

	&-right {
		margin-left: auto;
		display: flex;
		font-size: 26px;

		div {
			margin-right: 10px;
		}
	}

	&-blender {
		background: url(./images/blender.png);
		width: 26px;
		height: 26px;
		align-self: center;
		opacity: 0.8;

		&:hover {
			opacity: 1;
		}
	}

	&-reload::before {
		content: '\f0e2';
	}

	&-changes::before {
		content: '\f03a';
	}

	&-log::before {
		content: '\f0f6';
	}

	&-settings::before {
		content: '\f085';
	}
}

#source-select {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;

	.source-builds {
		width: min-content;
		
		span {
			text-align: center;
			display: block;

			&:first-child {
				margin-bottom: 5px;
			}

			&:last-child {
				margin-top: 5px;
			}
		}

		p {
			margin-bottom: 10px;
		}

		input[type="button"] {
			width: 100%;
			margin: 5px 0;
		}
	}

	#source-recent {
		position: absolute;
		font-size: 15px;
		list-style: none;
		left: 50%;
		transform: translate(-50%);
		margin-top: 20px;
		
		li:not(:first-child) {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	#source-cdn {
		position: absolute;
		list-style: none;
		margin-top: 20px;
		text-align: center;
		left: 0;
		right: 0;

		li:first-child {
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}

		li:last-child {
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}

		li:not(:first-child) {
			margin-left: 1px;
		}

		li {
			background: var(--form-button-base);
			position: relative;
			padding: 10px;
			color: white;
			display: inline-block;

			&:hover, &.selected {
				background: var(--form-button-hover);
			}

			span {
				position: absolute;
				font-size: 12px;
				bottom: -21px;
				left: 0;
				right: 0;
			}
		}
	}

	> div {
		width: 500px;
		height: 500px;
		border: 3px dashed var(--font-faded);
		margin: 0 15px;
		border-radius: 20px;
		cursor: pointer;
		position: relative;
		transition: border-color linear 0.5s;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.source-icon {
			font-family: 'FontAwesome';
			font-size: 120px;
			color: var(--font-faded);
			transition: color linear 0.5s;
		}

		.source-text {
			font-size: 20px;
			margin-top: 10px;

			span {
				opacity: 0.5;
				margin-left: 2px;
			}
		}
		
		&.disabled {
			cursor: default;
		}

		&:hover, &.disabled {
			border-color: var(--font-highlight);
	
			.source-icon {
				color: var(--font-highlight);
			}
		}
	}

	#source-local .source-icon::before {
		content: '\f0a0';
	}

	#source-remote .source-icon::before {
		content: '\f0ac';
	}
}

#toast {
	position: absolute;
	left: 0;
	right: 0;
	height: 30px;
	font-size: 15px;
	display: flex;
	align-items: center;
	padding-left: 10px;
	color: var(--font-toast);
	z-index: 1;

	span {
		margin: 0 5px;
		color: var(--font-toast-link);
		text-decoration: underline;
		cursor: pointer;
	}

	.close {
		font-family: 'FontAwesome';
		margin: 0 10px 0 auto;
		cursor: pointer;
		&::before { content: '\f00d' }
	}

	&::before {
		font-family: 'FontAwesome';
		margin-right: 5px;
	}

	&.progress {
		background: var(--toast-progress);
		&::before { content: '\f017'; }
	}

	&.info {
		background: var(--toast-info);
		&::before { content: '\f05a'; }
	}

	&.error {
		background: var(--toast-error);
		&::before { content: '\f071'; }
	}

	&.success {
		background: var(--toast-success);
		&::before { content: '\f00c'; }
	}
}

@keyframes update-cog-spin {
	from { transform:rotate(0deg); }
	to { transform:rotate(360deg); }
}

#loading {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: var(--background);
	z-index: 90;

	&-background {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: url(./images/loading.gif) no-repeat center;
		background-size: cover;
		z-index: -1;
		opacity: 0.2;

		&.xmas {
			background-image: url(./images/loading-xmas.gif);
		}
	}

	&-title {
		font-size: 25px;
	}

	&-progress {
		font-size: 20px;
	}

	&-bar {
		margin-top: 15px;
		width: 400px;
		border: 1px solid var(--border);
		height: 15px;
		background: #00000038;

		> div {
			background: var(--progress-bar);
			height: 100%;
		}
	}

	&-icon {
		font-family: 'FontAwesome';
		font-size: 80px;
		margin-bottom: 10px;
		animation: update-cog-spin 6s infinite linear;

		&::before {
			content: '\f013';
		}
	}
}

#crash-screen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 50px;
	display: flex;
	flex-direction: column;

	&-log {
		margin-top: 20px;
		height: 100%;
	}

	h1 {
		&::before {
			font-family: 'FontAwesome';
			content: '\f071';
			margin-right: 10px;
		}
	}

	&-text {
		font-weight: normal;
		font-size: 20px;
		margin: 20px 0;

		&-code {
			font-weight: bold;
			margin-right: 5px;
		}
	}

	&-versions span {
		margin: 0 5px;
		color: var(--border);
	}
}