// This file defines style rules for the user configuration panel.

#config {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	overflow-y: auto;

	&.toastgap {
		margin-top: 20px;
	}

	> div {
		padding: 20px;
		padding-bottom: 0;

		h1 {
			font-size: 18px;
		}

		input {
			margin-bottom: 0;
		}
	}
}

#config-buttons {
	display: flex;
	width: 100%;
	flex-direction: row-reverse;

	input {
		margin-right: 20px;
	}

	#config-reset {
		align-self: flex-end;
		margin-right: auto;
		margin-left: 20px;
	}
}