.tab {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.preview-controls {
	margin-bottom: 15px;
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
}

.preview-container {
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-row: 1;
	grid-column: 2;

	.preview-background {
		border: 1px solid var(--border);
		background-size: 30px 30px;
		background-position: 0 0, 15px 15px;
		background-color: var(--trans-check-b);
		box-shadow: black 0 0 3px 0;
		background-image: linear-gradient(45deg, var(--trans-check-a) 25%, transparent 25%, transparent 75%, var(--trans-check-a) 75%, var(--trans-check-a)),
		linear-gradient(45deg, var(--trans-check-a) 25%, transparent 25%, transparent 75%, var(--trans-check-a) 75%, var(--trans-check-a));
		display: table;
		width: 100%;
		height: 100%;

		div {
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
}

#tab-textures {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr 56px;

	.filter {
		width: auto;
		margin: 0 20px 15px 20px;
	}

	.list-container {
		position: relative;

		.ui-listbox {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}