.tab {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	&.list-tab {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 70px;
	}
}

.sidebar {
	grid-column: 3;
	width: 200px;
	grid-row: 1 / span 2;
	margin-top: 20px;
	padding-right: 20px;
	box-sizing: border-box;

	span.header {
		display: block;
		margin: 5px 0;
	}

	label span {
		font-size: 16px;
	}

	.ui-checkboxlist {
		margin-top: 10px;
	}
}

#sidebar-button {
	margin-left: 5px;
}

#tab-models {
	grid-template-columns: 1fr 1fr auto;

	#model-sidebar {

		.ui-checkboxlist, .ui-listbox {
			height: 156px;
		}

		.list-toggles {
			font-size: 14px;
			text-align: center;
			margin-top: 5px;
		}
	}
}

#tab-maps {
	#listbox-maps {
		.sub {
			margin-right: 5px;
		}

		.sub-1 {
			color: var(--form-button-menu);
		}

		.sub-3 {
			opacity: 0.5;
			font-style: italic;
		}
	}
}

#tab-video {
	grid-template-columns: unset;

	.filter {
		input[type="button"] {
			width: unset;
		}
	}
}

.preview-controls, .spaced-preview-controls {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 20px;
	grid-column: 2;
	grid-row: 2;
}

.spaced-preview-controls {
	input {
		margin-left: 5px;
	}
}

.preview-container {
	margin: 20px 20px 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-row: 1;
	grid-column: 2;

	.preview-background {
		border: 1px solid var(--border);
		background-size: 30px 30px;
		background-position: 0 0, 15px 15px;
		background-color: var(--trans-check-b);
		box-shadow: black 0 0 3px 0;
		background-image: linear-gradient(45deg, var(--trans-check-a) 25%, transparent 25%, transparent 75%, var(--trans-check-a) 75%, var(--trans-check-a)),
		linear-gradient(45deg, var(--trans-check-a) 25%, transparent 25%, transparent 75%, var(--trans-check-a) 75%, var(--trans-check-a));
		display: table;
		width: 100%;
		height: 100%;

		div {
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
}

.filter {
	display: flex;
	align-items: center;
	grid-column: 1;
	grid-row: 2;

	input {
		width: 100%;
		margin: 0 10px 0 20px;
	}
}

.list-container {
	position: relative;
	margin: 20px 10px 0 20px;

	.ui-listbox {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

@keyframes sound-audiobox-anim {
	to { background-position-x: -4326px; }
}

#sound-player {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&-info {
		display: flex;
		justify-content: space-between;

		.title {
			overflow: hidden;
			text-overflow: ellipsis;
			margin: 0 15px;
		}
	}

	&-anim {
		width: 309px;
		height: 397px;
		background: url(./images/audiobox.png) no-repeat;
		animation: sound-audiobox-anim 0.7s steps(14, end) infinite paused;
	}

	&-controls {
		margin-top: 20px;
		width: 90%;

		#slider-seek {
			margin: 8px 0;
		}

		.buttons {
			display: flex;
			flex-direction: row;
			align-items: center;

			input[type="button"] {
				font-family: 'FontAwesome';
				font-size: 13px;
				height: 30px;
				width: 30px;
				padding: 0;
				border-radius: 0;
				border: 1px solid var(--border);
				background: var(--background-dark);
				box-shadow: black 0 0 1px;
			}

			#slider-volume {
				width: 100px;
				margin-left: auto;

				&::before {
					font-family: 'FontAwesome';
					content: '\f028';
					position: absolute;
					right: 100%;
					margin-right: 8px;
					font-size: 15px;
					height: 100%;
					display: flex;
					align-items: center;
				}
			}
		}
	}
}