// This file defines unified styles for UI elements such as form fields.

.form-tray {
	display: flex;
	margin: 10px 0;
	
	input {
		margin: 0 5px;
	}
}

input[type="button"] {
	padding: 10px 20px;
	background: var(--form-button-base);
	color: var(--font-primary);
	font-size: 18px;
	border: 0;
	border-radius: 5px;
	cursor: pointer;

	&:hover {
		background: var(--form-button-hover);
		color: var(--font-highlight);
	}

	&.disabled {
		cursor: default;
		opacity: 0.5;
		background: var(--form-button-disabled);
	}
}

.ui-menu-button {
	display: inline-block;
	position: relative;

	input[type="button"] {
		padding-right: 30px;
		position: relative;
		z-index: 2;
	}

	.menu {
		list-style: none;
		position: absolute;
		background: var(--form-button-menu);
		top: 85%;
		width: 100%;
		padding-top: 5%;
		z-index: 1;

		&, li:last-of-type {
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
		}

		li {
			padding: 10px;
			background: var(--form-button-menu);
			cursor: pointer;

			&:hover {
				background: var(--form-button-menu-hover);
			}
		}
	}

	.arrow {
		z-index: 3;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 29px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		cursor: pointer;

		&:hover {
			background: var(--form-button-hover);
			color: var(--font-highlight);
		}

		&::before {
			font-family: 'FontAwesome';
			content: '\f0d7';
			margin-bottom: 2px;
			margin-right: 1px;
		}
	}
}

textarea {
	border-radius: 5px;
	resize: none;
	box-shadow: var(--form-field-shadow);
	background: var(--background-trans);
	color: white;
	padding: 10px;
	font-family: 'Selawik', sans-serif;
	font-size: 15px;
}

input[type="text"], input[type="number"] {
	padding: 10px;
	background: var(--background-dark);
	color: var(--font-primary);
	border: 1px solid var(--border);
	margin: 10px;
	border-radius: 5px;
	width: 300px;

	&:focus, &:hover {
		color: var(--font-highlight);
	}
}

input[type="number"] {
	width: 50px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	display: none;
}

.ui-listbox {
	background: var(--background);
	position: relative;
	margin: 20px;
	border: 1px solid var(--border);
	box-shadow: black 0 0 3px 0px;
	overflow: hidden;

	.item {
		padding: 2px 8px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		background: var(--background-dark);
		cursor: pointer;

		&:nth-child(even) {
			background: var(--background-alt);
		}

		&:hover, &.selected {
			background: var(--font-alt);
		}
	}

	.scroller {
		position: absolute;
		right: 3px;
		width: 8px;
		height: 45px;
		opacity: 0.7;
		cursor: pointer;

		> div {
			position: absolute;
			top: 3px;
			bottom: 3px;
			right: 0;
			left: 0;
			background: var(--border);
			border: 1px solid var(--border);
			border-radius: 5px;
		}

		&:hover, &.using {
			> div {
				background: var(--font-highlight);
			}
		}
	}
}