:root {
	--color-background: #343434;
	--color-background-header: #2c3136;
	--color-font-primary: #d5d6d7;
	--color-font-link: #ffffff;
	--color-font-faded: #6c757d;
	--color-border: #6c757d;
	--color-background-button: #0066b8;
}

@font-face {
	font-family: 'Selawik';
	src: local('Segoe UI Regular'), url('../fonts/selawk.woff2') format('woff2');
}


@font-face {
	font-family: 'Selawik';
	font-weight: bold;
	src: local('Segoe UI Bold'), url('../fonts/selawkb.woff2') format('woff2');
}

* {
	padding: 0;
	margin: 0;
}

*:focus {
	outline: none;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Selawik', sans-serif;
	background: var(--color-background);
	color: var(--color-font-primary);
}

#header {
	background: var(--color-background-header);
	height: 50px;
	display: flex;
	align-items: center;
}

#logo {
	font-size: 25px;
	font-weight: 700;
	background: url(../images/logo_25x25.png) no-repeat left;
	padding-left: 32px;
	height: 50px;
	position: relative;
	margin-left: 20px;
}

#logo > span {
	position: absolute;
	top: 50%;
	transform: translateY(-55%);
}

.panel {
	border-bottom: 1px solid var(--color-border);
}

#panel-intro {
	position: relative;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
}

#intro-background-inset {
	background: url(../images/intro_full_mesh.jpg) no-repeat center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

#logo-compart {
	width: 330px;
	height: 330px;
	position: relative;
}

#logo-compart > div {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#logo-compart-outer {
	background-image: url(../images/logo_compart_outer.png);
}

#logo-compart-middle {
	background-image: url(../images/logo_compart_middle.png);
}

#logo-compart-party {
	background-image: url(../images/party.gif?v=2);
	display: none;
	z-index: -1;
}

#intro-right {
	margin-top: 30px;
	display: flex;
	align-items: center;
}

#intro-right a {
	background-repeat: no-repeat;
	background-position: 10px;
	background-color: var(--color-background-button);
	background-size: 20px;
	padding: 10px 20px 10px 40px;
	margin: 0 10px;
	box-shadow: 0 0 20px black;
	color: var(--color-font-link);
}

#intro-button-patreon {
	background-image: url(../images/fa-patreon.svg);
}

#intro-button-download {
	background-image: url(../images/fa-windows.svg);
}

#intro-button-github {
	background-image: url(../images/fa-github.svg);
}

#intro-button-discord {
	background-image: url(../images/fa-discord.svg);
}

#panel-screenshots {
	display: flex;
	flex-wrap: wrap;
	padding: 50px;
	align-items: center;
	justify-content: center;
}

#panel-screenshots > a {
	width: 700px;
	height: 386px;
	margin: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 1px solid var(--color-border);
	box-shadow: 0 0 20px black;
}

#screenshot-1 {
	background-image: url(../images/screenshot_1.jpg);
}

#screenshot-2 {
	background-image: url(../images/screenshot_2.jpg);
}

#screenshot-3 {
	background-image: url(../images/screenshot_3.jpg);
}

#screenshot-4 {
	background-image: url(../images/screenshot_4.jpg);
}

#footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	flex-direction: column;
	background: var(--color-background-header);
	color: var(--color-font-faded);
}

#footer a {
	color: var(--color-font-faded);
}