// This file defines the font faces used by the application.

@font-face {
	font-family: 'Selawik';
	src: local('Segoe UI Regular'), url('fonts/selawk.woff2') format('woff2');
}


@font-face {
	font-family: 'Selawik';
	font-weight: bold;
	src: local('Segoe UI Bold'), url('fonts/selawkb.woff2') format('woff2');
}