// This file defines core rules and properties for the application.
// All other sass modules required for styling are imported by this sheet (see bottom).

:root {
    --background: #343a40;
    --background-dark: #2c3136;
    --border: #6c757d;
    --font-primary: #ffffffcc;
    --font-highlight: #ffffff;
    --font-faded: #6c757d;
}

* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: 0;
}

a {
    color: var(--font-primary);
    text-decoration: none;
    font-weight: bold;

    &:hover {
        color: var(--font-highlight);
        text-decoration: underline;
    }
}

@import './css/font';
@import './css/base';