<!DOCTYPE html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script defer type="text/javascript" src="lib/vue.js"></script>
		<script defer type="text/javascript" src="app.js"></script>
		<link rel="stylesheet" type="text/css" href="app.css"/>
		<title>wow.export</title>
	</head>
	<body>
		<div id="logo-background"></div>
		<div id="container" v-cloak>
			<div id="header" :class="{ shadowed: toast !== null }">
				<div id="logo">wow.export</div>
				<div id="nav" v-if="!!screen && screen.startsWith('tab-')">
					<div id="nav-models" @click="setScreen('tab-models')">Models</div>
					<div id="nav-textures" @click="setScreen('tab-textures')">Textures</div>
					<div id="nav-sounds" @click="setScreen('tab-sounds')">Sounds</div>
					<div id="nav-maps" @click="setScreen('tab-maps')">Maps</div>
					<div id="nav-other" @click="setScreen('tab-other')">Other</div>
					<div id="nav-settings" @click="setScreen('config', true)"></div>
				</div>
			</div>
			<div id="content">
				<div id="loading" v-if="screen === 'loading'">
					<div id="loading-background"></div>
					<div id="loading-icon"></div>
					<span id="loading-title">{{ loadingTitle }}</span>
					<span id="loading-progress">{{ loadingProgress }}</span>
					<div id="loading-bar">
						<div :style="{ width: (loadPct * 100) + '%' }"></div>
					</div>
				</div>
				<div id="config" v-if="screen === 'config'" :class="{ toastgap: toast !== null }">
					<div>
						<h1>Listfile URL</h1>
						<p>Remote URL used for updating the CASC listfile. (Must use same format)</p>
						<input type="text" v-model.trim="configEdit.listfileURL"/>
					</div>
					<div>
						<h1>Listfile Update Frequency</h1>
						<p>How often (in days) the listfile is updated.</p>
						<p>Set to zero to always re-download the listfile.</p>
						<input type="number" v-model.number="configEdit.listfileCacheRefresh"/>
					</div>
					<div>
						<h1>Cache Expiry</h1>
						<p>After how many days of inacivity is cached data deleted.</p>
						<p>Setting to zero disables cache clean-up (not recommended).</p>
						<input type="number" v-model.number="configEdit.cacheExpiry"/>
					</div>
					<div>
						<h1>Encryption Keys</h1>
						<p>Remote URL used to update keys for encrypted files.</p>
						<input type="text" v-model.trim="configEdit.tactKeysURL"/>
					</div>
					<div>
						<h1>Add Encryption Key</h1>
						<p>Manually add a BLTE encryption key.</p>
						<input type="text" width="140" v-model.trim="userInputTactKeyName" maxlength="16" placeholder="e.g 8F4098E2470FE0C8"/>
						<input type="text" width="280" v-model.trim="userInputTactKey" maxlength="32" placeholder="e.g AA718D1F1A23078D49AD0C606A72F3D5"/>
						<input type="button" value="Add" @click="click('tact-key', $event)"/>
					</div>
				</div>
				<div id="toast" v-if="toast" :class="toast.type">
					{{ toast.message }}
					<span v-for="(func, label) in toast.options" @click="handleToastOptionClick(func)">{{ label }}</span>
				</div>
				<keep-alive>
					<div class="tab" id="tab-textures" v-if="screen === 'tab-textures'">
						<div class="list-container">
							<listbox :items="listfileTextures" :filter="userInputFilterTextures" @selection-changed="emit('user-select-texture', ...arguments)"></listbox>
						</div>
						<div class="filter">
							<input type="text" v-model="userInputFilterTextures" placeholder="Filter textures..."/>
						</div>
						<div class="preview-container">
							<div class="preview-background" id="texture-preview">
								<div></div>
							</div>
						</div>
						<div class="preview-controls">
							<label class="ui-checkbox">
								<input type="checkbox" v-model="config.exportTextureAlpha"/>
								<span>Transparency</span>
							</label>
							<menu-button :label="'Export as %s'" :options="['PNG', 'M2']" :default="config.exportTextureFormat" @change="config.exportTextureFormat = $event" class="upward" :disabled="isBusy" @click="click('export-texture', $event)"></menu-button>
						</div>
					</div>
				</keep-alive>
				<div id="source-select" v-if="screen === 'source-select'">
					<div id="source-local" :class="{ disabled: !!availableLocalBuilds }" @click="click('source-local', $event)">
						<template v-if="availableLocalBuilds">
							<div class="source-builds">
								<span>Select Build</span>
								<input v-for="(build, i) in availableLocalBuilds" @click.stop="click('source-build', $event, i)" :class="{ disabled: isBusy }" type="button" :value="build"/>
								<span @click.stop="availableLocalBuilds = null" class="link">Cancel</span>
							</div>
						</template>
						<template v-else>
							<div class="source-icon"></div>
							<div class="source-text">
								Open Local Installation
								<span>(Recommended)</span>
								<ul id="source-recent" v-if="config.recentLocal && config.recentLocal.length > 0">
									<li>Recent</li>
									<li v-for="entry in config.recentLocal" class="link" @click.stop="click('source-local-recent', $event, entry)">{{ entry }}</li>
								</ul>
							</div>
						</template>
					</div>
					<div id="source-remote" :class="{ disabled: !!availableRemoteBuilds }" @click="click('source-remote', $event)">
						<template v-if="availableRemoteBuilds">
							<div class="source-builds">
								<span>Select Build</span>
								<input v-for="(build, i) in availableRemoteBuilds" @click.stop="click('source-build', $event, i)" :class="{ disabled: isBusy }" type="button" :value="build"/>
								<span @click.stop="availableRemoteBuilds = null" class="link">Cancel</span>
							</div>
						</template>
						<template v-else>
							<div class="source-icon"></div>
							<div class="source-text">
								Use Blizzard CDN
								<ul id="source-cdn">
									<li v-for="region in cdnRegions" :class="{ selected: selectedCDNRegion === region }" @click.stop="setSelectedCDN(region)">
										{{ region.tag.toUpperCase() }}
										<span v-if="region.delay !== null">{{ region.delay < 0 ? 'N/A' : region.delay + 'ms' }}</span>
									</li>
								</ul>
							</div>
						</template>
					</div>
				</div>
			</div>
			<div id="footer">
				<template v-if="screen === 'config'">
					<div id="config-buttons">
						<input type="button" value="Discard" :class="{ disabled: isBusy }" @click="click('config-discard', $event)"/>
						<input type="button" value="Apply" :class="{ disabled: isBusy }" @click="click('config-apply', $event)"/>
						<input type="button" id="config-reset" value="Reset to Defaults" :class="{ disabled: isBusy }" @click="click('config-reset', $event)"/>
					</div>
				</template>
				<template v-else>
					<span id="footer-links">
						<a data-external="https://discord.gg/BYpgyhy">Discord</a> - 
						<a data-external="https://patreon.com/Marlamin">Patreon</a> - 
						<a data-external="https://twitter.com/Marlamin">Twitter</a> - 
						<a data-external="https://github.com/Kruithne/wow.export">GitHub</a>
					</span>
					<span id="footer-copyright">
						World of Warcraft and related trademarks are registered trademarks of Blizzard Entertainment whom this application is not affiliated with.
					</span>
				</template>
			</div>
		</div>
		<noscript>
			<div id="crash-screen">
				<h1>Oh no! The kakapo has exploded...</h1>
				<div id="crash-screen-versions">
					<span id="crash-screen-version">???</span>
					<span id="crash-screen-flavour">???</span>
					<span id="crash-screen-build">???</span>
				</div>
				<div id="crash-screen-text">
					<span id="crash-screen-text-code">ERR_BROKEN:</span>
					<span id="crash-screen-text-message">Something went so terribly wrong that we don't even have an error message.</span>
				</div>
				<div class="form-tray">
					<input type="button" value="Report Issue" data-external="https://github.com/Kruithne/wow.export/issues"/>
					<input type="button" value="Get Help on Discord" data-external="https://discord.gg/BYpgyhy"/>
				</div>
				<textarea id="crash-screen-log">No runtime log available.</textarea>
			</div>
		</noscript>
	</body>
</html>