<!DOCTYPE html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script defer type="text/javascript" src="lib/vue.js"></script>
		<script defer type="text/javascript" src="lib/three.js"></script>
		<script defer type="text/javascript" src="app.js"></script>
		<link rel="stylesheet" type="text/css" href="app.css"/>
		<title>wow.export</title>
	</head>
	<body>
		<div id="logo-background"></div>
		<div id="container" v-cloak>
			<div id="header" :class="{ shadowed: toast !== null }">
				<div id="logo">wow.export</div>
				<div id="nav">
					<template v-if="!!screen && screen.startsWith('tab-')">
						<div class="option" id="nav-models" @click="setScreen('tab-models')">Models</div>
						<div class="option" id="nav-items" @click="setScreen('tab-items')">Items</div>
						<div class="option" id="nav-textures" @click="setScreen('tab-textures')">Textures</div>
						<div class="option" id="nav-sounds" @click="setScreen('tab-sounds')">Audio</div>
						<div class="option" id="nav-videos" @click="setScreen('tab-video')">Videos</div>
						<div class="option" id="nav-maps" @click="setScreen('tab-maps')">Maps</div>
						<div class="option" id="nav-text" @click="setScreen('tab-text')">Text</div>
					</template>
					<div v-if="!isBusy" id="nav-right">
						<div v-if="isDev" title="Run Integration Tests" class="option" id="nav-tests" @click="runIntegrationTests"></div>
						<div title="Blender Add-On" class="option" id="nav-blender" @click="setScreen('blender', true)"></div>
						<div title="Restart" class="option" id="nav-reload" @click="restartApplication"></div>
						<div id="nav-settings" title="Settings" class="option" @click="setScreen('config', true)"></div>
						<div id="nav-changes" title="Changelog" class="option" @click="setScreen('changelog', true)"></div>
						<div id="nav-log" title="View Log" class="option" @click="openRuntimeLog"></div>
					</div>
				</div>
			</div>
			<div id="drop-overlay" v-if="!!fileDropPrompt">
				» {{ fileDropPrompt }} «
			</div>
			<div id="content">
				<div id="loading" v-if="screen === 'loading'">
					<div id="loading-background" :class="{ xmas: isXmas }"></div>
					<div id="loading-icon"></div>
					<span id="loading-title">{{ loadingTitle }}</span>
					<span id="loading-progress">{{ loadingProgress }}</span>
					<div id="loading-bar">
						<div :style="{ width: (loadPct * 100) + '%' }"></div>
					</div>
				</div>
				<div id="changelog" v-if="screen === 'changelog'">
					<h1>Changelog</h1>
					<pre id="changelog-text">Loading changelog...</pre>
					<input type="button" value="Go Back" @click="showPreviousScreen"/>
				</div>
				<div id="blender-info" v-if="screen === 'blender'">
					<div id="blender-info-header">
						<h1>Installing the wow.export Add-on for Blender 2.8+</h1>
						<p>Blender users can make use of our special importer add-on which makes importing advanced objects as simple as a single click. WMO objects are imported with any exported doodad sets included. ADT map tiles are imported complete with all WMOs and doodads positioned as they would be in-game.</p>
					</div>
					<div id="blender-info-buttons">
						<input type="button" value="Install Automatically (Recommended)" @click="installBlenderAddon" :class="{ disabled: isBusy }"/>
						<input type="button" value="Install Manually (Advanced)" @click="openBlenderAddonFolder"/>
						<input type="button" value="Go Back" @click="showPreviousScreen"/>
					</div>
				</div>
				<div id="config" v-if="screen === 'config'" :class="{ toastgap: toast !== null }">
					<div>
						<h1>Export Directory</h1>
						<p>Local directory where files will be exported to.</p>
						<p v-if="isEditExportPathConcerning" class="concern">Warning: Using an export path with spaces may lead to problems in most 3D programs.</p>
						<file-field v-model="configEdit.exportDirectory" :class="{ concern: isEditExportPathConcerning }"></file-field>
					</div>
					<div>
						<h1>Show File Data IDs</h1>
						<p>If enabled, all capable listfiles will have entries suffixed with their fileDataID.</p>
						<label class="ui-checkbox">
							<input type="checkbox" v-model="configEdit.listfileShowFileDataIDs"/>
							<span>Enable</span>
						</label>
					</div>
					<div>
						<h1>Enable Shared Textures</h1>
						<p>If enabled, exported textures will be exported to their own path rather than with their parent.</p>
						<p>This dramatically reduces disk space used by not duplicating textures.</p>
						<label class="ui-checkbox">
							<input type="checkbox" v-model="configEdit.enableSharedTextures"/>
							<span>Enable</span>
						</label>
					</div>
					<div>
						<h1>Strip Whitespace From Export Paths</h1>
						<p>If enabled, whitespace will be removed from exported paths.</p>
						<p>Enable this option if your 3D software does not support whitespace in paths.</p>
						<label class="ui-checkbox">
							<input type="checkbox" v-model="configEdit.removePathSpaces"/>
							<span>Enable</span>
						</label>
					</div>
					<div>
						<h1>Strip Whitespace From Copied Paths</h1>
						<p>If enabled, file paths copied from a listbox (CTRL + C) will have whitespace stripped.</p>
						<label class="ui-checkbox">
							<input type="checkbox" v-model="configEdit.removePathSpacesCopy"/>
							<span>Enable</span>
						</label>
					</div>
					<div>
						<h1>Use Absolute MTL Paths</h1>
						<p>If enabled, MTL files will contain absolute textures paths rather than relative ones.</p>
						<p>This will cause issues when sharing exported models between computers.</p>
						<p>Enable this option if you are having issues importing models in Cinema 4D with Shared Textures enabled.</p>
						<label class="ui-checkbox">
							<input type="checkbox" v-model="configEdit.enableAbsoluteMTLPaths"/>
							<span>Enable</span>
						</label>
					</div>
					<div>
						<h1>Use Absolute Model Placement Paths</h1>
						<p>If enabled, paths inside model placement files (CSV) will contain absolute paths rather than relative ones.</p>
						<p>This will cause issues when sharing exported models between computers.</p>
						<label class="ui-checkbox">
							<input type="checkbox" v-model="configEdit.enableAbsoluteCSVPaths"/>
							<span>Enable</span>
						</label>
					</div>
					<div>
						<h1>CASC Locale</h1>
						<p>Which locale to use for file reading. This only affects game files.</p>
						<p>This should match the locale of your client when using local installations.</p>
						<menu-button class="spaced" :dropdown="true" :label="'%s'" :display-names="availableLocale.names" :options="availableLocaleKeys" :default="selectedLocaleKey" @change="configEdit.cascLocale = availableLocale.flags[$event]"></menu-button>
					</div>
					<div>
						<h1>Export Model Collision</h1>
						<p>If enabled, M2 models exported as OBJ will also have their collision exported into a .phys.obj file.</p>
						<label class="ui-checkbox">
							<input type="checkbox" v-model="configEdit.modelsExportCollision"/>
							<span>Enable</span>
						</label>
					</div>
					<div>
						<h1>Export UV2 Data</h1>
						<p>If enabled, UV2 data will be exported for M2 models, included as the non-standard vt2 property in OBJ files.</p>
						<p>Use the wow.export Blender add-on to import OBJ models with UV2 maps.</p>
						<label class="ui-checkbox">
							<input type="checkbox" v-model="configEdit.modelsExportUV2"/>
							<span>Enable</span>
						</label>
					</div>
					<div>
						<h1>Export Meta Data</h1>
						<p>If enabled, verbose data will be exported for enabled formats into relative .json files.</p>
						<ul class="ui-multi-button" id="export-meta-multi">
							<li :class="{ selected: configEdit.exportM2Meta }" @click.stop="configEdit.exportM2Meta = !configEdit.exportM2Meta">M2</li>
							<li :class="{ selected: configEdit.exportWMOMeta }" @click.stop="configEdit.exportWMOMeta = !configEdit.exportWMOMeta">WMO</li>
							<li :class="{ selected: configEdit.exportBLPMeta }" @click.stop="configEdit.exportBLPMeta = !configEdit.exportBLPMeta">BLP</li>
						</ul>
					</div>
					<div>
						<h1>Always Overwrite Existing Files (Recommended)</h1>
						<p>When exporting, files will always be written to disk even if they exist.</p>
						<p>Disabling this can speed up exporting, but may lead to issues between versions.</p>
						<label class="ui-checkbox">
							<input type="checkbox" v-model="configEdit.overwriteFiles"/>
							<span>Enable</span>
						</label>
					</div>
					<div>
						<h1>Regular Expression Filtering (Advanced)</h1>
						<p>Allows use of regular expressions in filtering lists.</p>
						<label class="ui-checkbox">
							<input type="checkbox" v-model="configEdit.regexFilters"/>
							<span>Enable</span>
						</label>
					</div>
					<div>
						<h1>Copy File Directories</h1>
						<p>By default, using CTRL + C on a file list in wow.export will copy the paths to your clipboard.</p>
						<p>If you enable this, only the directories of the selected paths will be copied.</p>
						<label class="ui-checkbox">
							<input type="checkbox" v-model="configEdit.copyFileDirectories"/>
							<span>Enable</span>
						</label>
					</div>
					<div>
						<h1>Paste Selection</h1>
						<p>If enabled, using CTRL + V on the model list will attempt to select filenames you paste.</p>
						<label class="ui-checkbox">
							<input type="checkbox" v-model="configEdit.pasteSelection"/>
							<span>Enable</span>
						</label>
					</div>
					<div>
						<h1>Split Large Terrain Maps (Recommended)</h1>
						<p>If enabled, exporting baked terrain above 8k will be split into smaller files rather than one large file.</p>
						<label class="ui-checkbox">
							<input type="checkbox" v-model="configEdit.splitLargeTerrainBakes"/>
							<span>Enable</span>
						</label>
					</div>
					<div>
						<h1>Split Alpha Maps</h1>
						<p>If enabled, terrain alpha maps will be exported as individual images for each ADT chunk.</p>
						<label class="ui-checkbox">
							<input type="checkbox" v-model="configEdit.splitAlphaMaps"/>
							<span>Enable</span>
						</label>
					</div>
					<div>
						<h1>Cache Expiry</h1>
						<p>After how many days of inactivity is cached data deleted. Setting to zero disables cache clean-up (not recommended).</p>
						<input type="number" v-model.number="configEdit.cacheExpiry"/>
					</div>
					<div>
						<h1>Manually Clear Cache (Requires Restart)</h1>
						<p>While housekeeping on the cache is mostly automatic, sometimes clearing manually can resolve issues.</p>
						<input type="button" class="spaced" :value="'Clear Cache (' + cacheSizeFormatted + ')'" @click="click('cache-clear', $event)" :class="{ disabled: isBusy }"/>
					</div>
					<div>
						<h1>Encryption Keys</h1>
						<p>Remote URL used to update keys for encrypted files.</p>
						<input type="text" v-model.trim="configEdit.tactKeysURL"/>
					</div>
					<div>
						<h1>Add Encryption Key</h1>
						<p>Manually add a BLTE encryption key.</p>
						<input type="text" width="140" v-model.trim="userInputTactKeyName" maxlength="16" placeholder="e.g 8F4098E2470FE0C8"/>
						<input type="text" width="280" v-model.trim="userInputTactKey" maxlength="32" placeholder="e.g AA718D1F1A23078D49AD0C606A72F3D5"/>
						<input type="button" value="Add" @click="click('tact-key', $event)"/>
					</div>
					<div>
						<h1>Listfile Source</h1>
						<p>Remote URL or local path used for updating the CASC listfile. (Must use same format)</p>
						<input type="text" v-model.trim="configEdit.listfileURL"/>
					</div>
					<div>
						<h1>Listfile Update Frequency</h1>
						<p>How often (in days) the listfile is updated. Set to zero to always re-download the listfile.</p>
						<input type="number" v-model.number="configEdit.listfileCacheRefresh"/>
					</div>
					<div>
						<h1>Data Table Definition Repository</h1>
						<p>Remote URL used to update DBD definitions. (Must use same format)</p>
						<input type="text" v-model.trim="configEdit.dbdURL"/>
					</div>
				</div>
				<div id="toast" v-if="toast" :class="toast.type">
					{{ toast.message }}
					<span v-for="(func, label) in toast.options" @click="handleToastOptionClick(func)">{{ label }}</span>
					<div class="close" v-if="toast.closable" @click="hideToast(true)"></div>
				</div>
				<div id="toast" v-if="!toast && screen === 'tab-models' && overrideModelList.length > 0" class="progress">
					Filtering models for item: {{ overrideModelName }}
					<span @click="removeOverrideModels">Remove</span>
					<div class="close" @click="removeOverrideModels"></div>
				</div>
				<div id="toast" v-if="!toast && screen === 'tab-textures' && overrideTextureList.length > 0" class="progress">
					Filtering textures for item: {{ overrideTextureName }}
					<span @click="removeOverrideTextures">Remove</span>
					<div class="close" @click="removeOverrideTextures"></div>
				</div>
				<keep-alive>
					<div class="tab list-tab" id="tab-textures" v-if="screen === 'tab-textures'">
						<div class="list-container">
							<listbox :selection="selectionTextures" :items="listfileTextures" :override="overrideTextureList" :filter="userInputFilterTextures" :keyinput="true" :regex="config.regexFilters" :copydir="config.copyFileDirectories" :pasteselection="config.pasteSelection" :copytrimwhitespace="config.removePathSpacesCopy" :includefilecount="true" unittype="texture"></listbox>
						</div>
						<div class="filter">
							<div class="regex-info" v-if="config.regexFilters" :title="regexTooltip">Regex Enabled</div>
							<input type="text" v-model="userInputFilterTextures" placeholder="Filter textures..."/>
						</div>
						<div class="preview-container">
							<div class="preview-info" v-if="config.showTextureInfo && texturePreviewInfo.length > 0">{{ texturePreviewInfo }}</div>
							<ul class="preview-channels" v-if="texturePreviewURL.length > 0">
								<li id="channel-red" :class="{ selected: (config.exportChannelMask & 0b1) }" @click.self="config.exportChannelMask ^= 0b1" title="Toggle red colour channel.">R</li>
								<li id="channel-green" :class="{ selected: (config.exportChannelMask & 0b10) }" @click.self="config.exportChannelMask ^= 0b10" title="Toggle green colour channel.">G</li>
								<li id="channel-blue" :class="{ selected: (config.exportChannelMask & 0b100) }" @click.self="config.exportChannelMask ^= 0b100" title="Toggle blue colour channel.">B</li>
								<li id="channel-alpha" :class="{ selected: (config.exportChannelMask & 0b1000) }" @click.self="config.exportChannelMask ^= 0b1000" title="Toggle alpha channel.">A</li>
							</ul>
							<div class="preview-background" id="texture-preview" :style="{ 'max-width': texturePreviewWidth + 'px', 'max-height': texturePreviewHeight + 'px' }">
								<div :style="{ 'background-image': 'url(' + texturePreviewURL + ')' }"></div>
							</div>
						</div>
						<div class="preview-controls">
							<label class="ui-checkbox">
								<input type="checkbox" v-model="config.showTextureInfo"/>
								<span>Show Info</span>
							</label>
							<label class="ui-checkbox">
								<input type="checkbox" :checked="(config.exportChannelMask & 0b1000)" @change="$event.target.checked ? config.exportChannelMask |= 0b1000 : config.exportChannelMask &= 0b0111"/>
								<span>Transparency</span>
							</label>
							<menu-button :label="'Export as %s'" :options="['PNG', 'BLP']" :default="config.exportTextureFormat" @change="config.exportTextureFormat = $event" class="upward" :disabled="isBusy" @click="click('export-texture', $event)"></menu-button>
						</div>
					</div>
				</keep-alive>
				<keep-alive>
					<div class="tab list-tab" id="tab-maps" v-if="screen === 'tab-maps'">
						<div class="list-container">
							<listbox id="listbox-maps" :selection="selectionMaps" :items="mapViewerMaps" :filter="userInputFilterMaps" :keyinput="true" :single="true" :regex="config.regexFilters" :copydir="config.copyFileDirectories" :pasteselection="config.pasteSelection" :copytrimwhitespace="config.removePathSpacesCopy" :includefilecount="true" unittype="map"></listbox>
						</div>
						<div class="filter">
							<div class="regex-info" v-if="config.regexFilters" :title="regexTooltip">Regex Enabled</div>
							<input type="text" v-model="userInputFilterMaps" placeholder="Filter maps..."/>
						</div>
						<map-viewer :map="mapViewerSelectedMap" :loader="mapViewerTileLoader" :tile-size="512" :zoom="10" :mask="mapViewerChunkMask" :selection="mapViewerSelection"></map-viewer>
						<div class="spaced-preview-controls">
							<input type="button" value="Export Global WMO" @click="click('export-map-wmo', $event)" :class="{ disabled: isBusy || !mapViewerHasWorldModel }"/>
							<input type="button" :value="mapViewerSelection.length > 0 ? ('Export ' + mapViewerSelection.length + ' Tiles') : 'Export Tiles'" @click="click('export-map', $event)" :class="{ disabled: isBusy}"/>
							<input type="button" :value="config.mapsShowSidebar ? 'Hide Controls' : 'Show Controls'" @click="config.mapsShowSidebar = !config.mapsShowSidebar"/>
						</div>

						<div id="maps-sidebar" class="sidebar" v-if="config.mapsShowSidebar">
							<span class="header">Export Options</span>
							<label class="ui-checkbox" title="Include WMO objects (large objects such as buildings)">
								<input type="checkbox" v-model="config.mapsIncludeWMO"/>
								<span>Export WMO</span>
							</label>
							<label class="ui-checkbox" v-if="config.mapsIncludeWMO" title="Include objects inside WMOs (interior decorations)">
								<input type="checkbox" v-model="config.mapsIncludeWMOSets"/>
								<span>Export WMO Sets</span>
							</label>
							<label class="ui-checkbox" title="Export M2 objects on this tile (smaller objects such as trees)">
								<input type="checkbox" v-model="config.mapsIncludeM2"/>
								<span>Export M2</span>
							</label>
							<label class="ui-checkbox" title="Export foliage used on this tile (grass, etc)">
								<input type="checkbox" v-model="config.mapsIncludeFoliage"/>
								<span>Export Foliage</span>
							</label>
							<label class="ui-checkbox" title="Export client-side interactable objects (signs, banners, etc)">
								<input type="checkbox" v-model="config.mapsIncludeGameObjects"/>
								<span>Export G-Objects</span>
							</label>
							<label class="ui-checkbox" title="Include terrain holes for WMOs">
								<input type="checkbox" v-model="config.mapsIncludeHoles"/>
								<span>Include Holes</span>
							</label>
							<span class="header">Terrain Texture Quality</span>
							<menu-button :label="'%s'" :options="[-1, 0, 512, 1024, 4096, 8192, 16384]" :display-names="['Alpha Maps', 'None', 'Minimap (512)', 'Low (1k)', 'Medium (4k)', 'High (8k)', 'Ultra (16k)']" :default="config.exportMapQuality" @change="config.exportMapQuality = $event" :disabled="isBusy" :dropdown="true"></menu-button>
						</div>
					</div>
				</keep-alive>
				<keep-alive>
					<div class="tab" id="tab-items" v-if="screen === 'tab-items'">
						<div class="list-container">
							<itemlistbox id="listbox-items" :selection="selectionItems" :items="listfileItems" :filter="userInputFilterItems" :keyinput="true" :includefilecount="true" unittype="item"></itemlistbox>
						</div>
						<div class="filter">
							<div class="regex-info" v-if="config.regexFilters" :title="regexTooltip">Regex Enabled</div>
							<input type="text" v-model="userInputFilterItems" placeholder="Filter items..."/>
						</div>
						<div id="items-sidebar" class="sidebar">
							<span class="header">Item Types</span>
							<checkboxlist :items="itemViewerTypeMask"></checkboxlist>
							<div class="list-toggles">
								<a @click="setAllItemTypes(true)">Enable All</a> / <a @click="setAllItemTypes(false)">Disable All</a>
							</div>
						</div>
					</div>
				</keep-alive>
				<keep-alive>
					<div class="tab list-tab" id="tab-models" v-if="screen === 'tab-models'">
						<div class="list-container">
							<listbox :selection="selectionModels" :items="listfileModels" :override="overrideModelList" :filter="userInputFilterModels" :keyinput="true" :regex="config.regexFilters" :copydir="config.copyFileDirectories" :pasteselection="config.pasteSelection" :copytrimwhitespace="config.removePathSpacesCopy" :includefilecount="true" unittype="model"></listbox>
						</div>
						<div class="filter">
							<div class="regex-info" v-if="config.regexFilters" :title="regexTooltip">Regex Enabled</div>
							<input type="text" v-model="userInputFilterModels" placeholder="Filter models..."/>
						</div>
						<div class="preview-container">
							<div class="preview-background" id="model-preview">
								<model-viewer :context="modelViewerContext"></model-viewer>
							</div>
						</div>
						<div class="preview-controls">
							<!--<menu-button :label="'Export as %s'" :options="['OBJ', 'GLTF', 'PNG', 'RAW']" :display-names="['OBJ', 'GLTF', 'PNG (Preview Only)', 'M2 / WMO (Raw)']" :default="config.exportModelFormat" @change="config.exportModelFormat = $event" class="upward" :disabled="isBusy" @click="click('export-model', $event)"></menu-button>-->
							<menu-button :label="'Export as %s'" :options="['OBJ', 'PNG', 'RAW']" :display-names="['OBJ', 'PNG (Preview Only)', 'M2 / WMO (Raw)']" :default="config.exportModelFormat" @change="config.exportModelFormat = $event" class="upward" :disabled="isBusy" @click="click('export-model', $event)"></menu-button>
							<input id="sidebar-button" type="button" :value="config.modelsShowSidebar ? 'Hide Controls' : 'Show Controls'" @click="config.modelsShowSidebar = !config.modelsShowSidebar"/>
						</div>
						<div id="model-sidebar" class="sidebar" v-if="config.modelsShowSidebar">
							<span class="header">Listing</span>
							<label class="ui-checkbox" title="Include M2 objects in the list">
								<input type="checkbox" v-model="config.modelsShowM2"/>
								<span>Show M2</span>
							</label>
							<label class="ui-checkbox" title="Include WMO objects in the list">
								<input type="checkbox" v-model="config.modelsShowWMO"/>
								<span>Show WMO</span>
							</label>
							<span class="header">Preview</span>
							<label class="ui-checkbox" title="Automatically preview a model when selecting it">
								<input type="checkbox" v-model="config.modelsAutoPreview"/>
								<span>Auto Preview</span>
							</label>
							<label class="ui-checkbox" title="Automatically adjust camera when selecting a new model">
								<input type="checkbox" v-model="modelViewerAutoAdjust"/>
								<span>Auto Camera</span>
							</label>
							<label class="ui-checkbox" title="Show a grid in the 3D viewport">
								<input type="checkbox" v-model="config.modelViewerShowGrid"/>
								<span>Show Grid</span>
							</label>
							<span class="header">Export</span>
							<label class="ui-checkbox" title="Include alpha channel in exported model textures">
								<input type="checkbox" v-model="config.modelsIncludeAlpha"/>
								<span>Texture Alpha</span>
							</label>
							<template v-if="config.exportModelFormat === 'RAW'">
								<label class="ui-checkbox" title="Export raw .skin files with M2 exports">
									<input type="checkbox" v-model="config.modelsExportSkin"/>
									<span>Export .skin files</span>
								</label>
							</template>
							<template v-if="modelViewerActiveType === 'm2'">
								<span class="header">Geosets</span>
								<checkboxlist :items="modelViewerGeosets"></checkboxlist>
								<div class="list-toggles">
									<a @click="setAllGeosets(true)">Enable All</a> / <a @click="setAllGeosets(false)">Disable All</a>
								</div>
								<template>
									<span class="header">Skins</span>
									<listboxb :items="modelViewerSkins" :selection="modelViewerSkinsSelection" :single="true"></listboxb>
								</template>
							</template>
							<template v-if="modelViewerActiveType === 'wmo'">
								<span class="header">WMO Groups</span>
								<checkboxlist :items="modelViewerWMOGroups"></checkboxlist>
								<div class="list-toggles">
									<a @click="setAllWMOGroups(true)">Enable All</a> / <a @click="setAllWMOGroups(false)">Disable All</a>
								</div>
								<span class="header">Doodad Sets</span>
								<checkboxlist :items="modelViewerWMOSets"></checkboxlist>
							</template>
						</div>
					</div>
				</keep-alive>
				<keep-alive>
					<div class="tab list-tab" id="tab-video" v-if="screen === 'tab-video'">
						<div class="list-container">
							<listbox :selection="selectionVideos" :items="listfileVideos" :filter="userInputFilterVideos" :keyinput="true" :regex="config.regexFilters" :copydir="config.copyFileDirectories" :pasteselection="config.pasteSelection" :copytrimwhitespace="config.removePathSpacesCopy" :includefilecount="true" unittype="video"></listbox>
						</div>
						<div class="filter">
							<div class="regex-info" v-if="config.regexFilters" :title="regexTooltip">Regex Enabled</div>
							<input type="text" v-model="userInputFilterVideos" placeholder="Filter videos..."/>
							<input type="button" value="Export Selected" @click="click('export-video', $event)" :class="{ disabled: isBusy }"/>
						</div>
					</div>
				</keep-alive>
				<keep-alive>
					<div class="tab list-tab" id="tab-text" v-if="screen === 'tab-text'">
						<div class="list-container">
							<listbox :selection="selectionText" :items="listfileText" :filter="userInputFilterText" :keyinput="true" :regex="config.regexFilters" :copydir="config.copyFileDirectories" :pasteselection="config.pasteSelection" :copytrimwhitespace="config.removePathSpacesCopy" :includefilecount="true" unittype="text file"></listbox>
						</div>
						<div class="filter">
							<div class="regex-info" v-if="config.regexFilters" :title="regexTooltip">Regex Enabled</div>
							<input type="text" v-model="userInputFilterText" placeholder="Filter text files..."/>
						</div>
						<div class="preview-container">
							<div class="preview-background" id="model-preview">
								<pre>{{ textViewerSelectedText }}</pre>
							</div>
						</div>
						<div class="preview-controls">
							<input type="button" value="Export Selected" @click="click('export-text', $event)" :class="{ disabled: isBusy }"/>
						</div>
					</div>
				</keep-alive>
				<keep-alive>
					<div class="tab list-tab" id="tab-sounds" v-if="screen === 'tab-sounds'">
						<div class="list-container">
							<listbox :selection="selectionSounds" :items="listfileSounds" :filter="userInputFilterSounds" :keyinput="true" :regex="config.regexFilters" :copydir="config.copyFileDirectories" :pasteselection="config.pasteSelection" :copytrimwhitespace="config.removePathSpacesCopy" :includefilecount="true" unittype="sound file"></listbox>
						</div>
						<div class="filter">
							<div class="regex-info" v-if="config.regexFilters" :title="regexTooltip">Regex Enabled</div>
							<input type="text" v-model="userInputFilterSounds" placeholder="Filter sound files..."/>
						</div>
						<div id="sound-player">
							<div id="sound-player-anim" :style="{ 'animation-play-state': soundPlayerState ? 'running' : 'paused' }"></div>
							<div id="sound-player-controls">
								<div id="sound-player-info">
									<span>{{ soundPlayerSeekFormatted }}</span>
									<span class="title">{{ soundPlayerTitle }}</span>
									<span>{{ soundPlayerDurationFormatted }}</span>
								</div>
								<slider id="slider-seek" v-model="soundPlayerSeek" @input="emit('click-sound-seek', $event)"></slider>
								<div class="buttons">
									<input type="button" :value="soundPlayerState ? '&#xf04c' : '&#xf04b'" @click="click('sound-toggle', $event)"/>
									<slider id="slider-volume" v-model="config.soundPlayerVolume"></slider>
								</div>
							</div>
						</div>
						<div class="preview-controls">
							<label class="ui-checkbox">
								<input type="checkbox" v-model="config.soundPlayerLoop"/>
								<span>Loop</span>
							</label>
							<label class="ui-checkbox">
								<input type="checkbox" v-model="config.soundPlayerAutoPlay"/>
								<span>Autoplay</span>
							</label>
							<input type="button" value="Export Selected" @click="click('export-sound', $event)" :class="{ disabled: isBusy }"/>
						</div>
					</div>
				</keep-alive>
				<div id="source-select" v-if="screen === 'source-select'">
					<div id="source-local" :class="{ disabled: !!availableLocalBuilds }" @click="click('source-local', $event)">
						<template v-if="availableLocalBuilds">
							<div class="source-builds">
								<span>Select Build</span>
								<input v-for="(build, i) in availableLocalBuilds" @click.stop="click('source-build', $event, i)" :class="{ disabled: isBusy }" type="button" :value="build"/>
								<span @click.stop="availableLocalBuilds = null" class="link">Cancel</span>
							</div>
						</template>
						<template v-else>
							<div class="source-icon"></div>
							<div class="source-text">
								Open Local Installation
								<span>(Recommended)</span>
								<ul id="source-recent" v-if="config.recentLocal && config.recentLocal.length > 0">
									<li>Recent</li>
									<li v-for="entry in config.recentLocal" class="link" @click.stop="click('source-local-recent', $event, entry)">{{ entry.path }} ({{ getProductTag(entry.product) }})</li>
								</ul>
							</div>
						</template>
					</div>
					<div id="source-remote" :class="{ disabled: !!availableRemoteBuilds }" @click="click('source-remote', $event)">
						<template v-if="availableRemoteBuilds">
							<div class="source-builds">
								<span>Select Build</span>
								<input v-for="(build, i) in availableRemoteBuilds" @click.stop="click('source-build', $event, i)" :class="{ disabled: isBusy }" type="button" :value="build"/>
								<span @click.stop="availableRemoteBuilds = null" class="link">Cancel</span>
							</div>
						</template>
						<template v-else>
							<div class="source-icon"></div>
							<div class="source-text">
								Use Blizzard CDN
								<ul id="source-cdn" class="ui-multi-button">
									<li v-for="region in cdnRegions" :class="{ selected: selectedCDNRegion === region }" @click.stop="setSelectedCDN(region)">
										{{ region.tag.toUpperCase() }}
										<span v-if="region.delay !== null">{{ region.delay < 0 ? 'N/A' : region.delay + 'ms' }}</span>
									</li>
								</ul>
							</div>
						</template>
					</div>
				</div>
			</div>
			<div id="footer">
				<template v-if="screen === 'config'">
					<div id="config-buttons">
						<input type="button" value="Discard" :class="{ disabled: isBusy }" @click="click('config-discard', $event)"/>
						<input type="button" value="Apply" :class="{ disabled: isBusy }" @click="click('config-apply', $event)"/>
						<input type="button" id="config-reset" value="Reset to Defaults" :class="{ disabled: isBusy }" @click="click('config-reset', $event)"/>
					</div>
				</template>
				<template v-else>
					<span id="footer-links">
						<a data-external="https://discord.gg/52mHpxC">Discord</a> - 
						<a data-external="https://patreon.com/Kruithne">Patreon</a> - 
						<a data-external="https://wow.tools/export/">About</a> - 
						<a data-external="https://github.com/Kruithne/wow.export">GitHub</a>
					</span>
					<span id="footer-copyright">
						World of Warcraft and related trademarks are registered trademarks of Blizzard Entertainment whom this application is not affiliated with.
					</span>
				</template>
			</div>
		</div>
		<noscript>
			<div id="crash-screen">
				<h1>Oh no! The kakapo has exploded...</h1>
				<div id="crash-screen-versions">
					<span id="crash-screen-version">???</span>
					<span id="crash-screen-flavour">???</span>
					<span id="crash-screen-build">???</span>
				</div>
				<div id="crash-screen-text">
					<span id="crash-screen-text-code">ERR_BROKEN:</span>
					<span id="crash-screen-text-message">Something went so terribly wrong that we don't even have an error message.</span>
				</div>
				<div class="form-tray">
					<input type="button" value="Report Issue" data-external="https://github.com/Kruithne/wow.export/issues"/>
					<input type="button" value="Get Help on Discord" data-external="https://discord.gg/52mHpxC"/>
					<input type="button" value="Restart Application" onclick="chrome.runtime.reload()"/>
				</div>
				<textarea id="crash-screen-log">No runtime log available.</textarea>
			</div>
		</noscript>
	</body>
</html>