name: test

on:
  push:
    branches:
      - '*'
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 19.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm ci --dev

      - name: Install TypeScript
        run: npm install -g typescript

      - name: ESlint check
        run: npx eslint .

      - name: Compile TypeScript
        run: tsc

      - name: Run tests
        run: npm test